<div class="top-bar">
  <div class="top-bar__container container">
    
    <div class="top-bar__links">
      <a href="#" class="top-bar__link">
        <lucide-icon name="headphones" [size]="14"></lucide-icon>
        <span>{{ 'HEADER.SUPPORT' | translate }}</span>
      </a>
      <a href="#" class="top-bar__link">
        <lucide-icon name="user" [size]="14"></lucide-icon>
        <span>{{ 'HEADER.CLIENT_PORTAL' | translate }}</span>
      </a>
    </div>

    <div class="top-bar__language">
      <jsl-language-switcher></jsl-language-switcher>
    </div>

  </div>
</div>
