<div class="top-bar">
  <div class="top-bar__container container">
    
    <div class="top-bar__links">
      <a href="https://support.jsl.technology" target="_blank" rel="noopener noreferrer" class="top-bar__link">
        <lucide-icon name="Headphones" [size]="14"></lucide-icon>
        <span>{{ 'HEADER.SUPPORT' | translate }}</span>
      </a>
      <a href="https://portal.jsl.technology" target="_blank" rel="noopener noreferrer" class="top-bar__link">
        <lucide-icon name="User" [size]="14"></lucide-icon>
        <span>{{ 'HEADER.CLIENT_PORTAL' | translate }}</span>
      </a>
    </div>

    <div class="top-bar__language">
      <jsl-language-switcher></jsl-language-switcher>
    </div>

  </div>
</div>
