<div class="lang-switcher" (jslClickOutside)="closeDropdown()">
  <button
    class="lang-switcher__button"
    (click)="toggleDropdown()"
    [attr.aria-label]="'ARIA.SELECT_LANGUAGE' | translate"
    [class.is-open]="isDropdownOpen"
  >
    <lucide-icon name="Globe"></lucide-icon>
    <span>{{ currentLang | uppercase }}</span>
    <lucide-icon name="ChevronDown"></lucide-icon>
  </button>

  <div 
    class="lang-switcher__dropdown" 
    [class.is-open]="isDropdownOpen"
    [class.opens-up]="opensUp">
    <a
      *ngFor="let lang of languages"
      [routerLink]="getRouteForLang(lang.code)"
      (click)="setLanguage(lang.code); closeDropdown()"
      [class.active]="currentLang === lang.code"
    >
      <span>{{ lang.name | translate }}</span>
      <lucide-icon *ngIf="currentLang === lang.code" name="Check"></lucide-icon>
    </a>
  </div>

</div>